<div class="products">
 <%= render 'header' %>

 <div class="products-main">
  <div class="products-main-title"><p>○ポートフォリオ</p></div>
  <ul class="main-contents">
   <li class="product">
    <%= image_tag "product1.png", class:"img" %>
    <div><%= link_to '今ご覧のWebサイト', 'http://54.150.77.8/', target:"_blank", class:"product-title" %></div>
   </li>
   <li class="product">
    <%= image_tag "product2.png", class:"img" %>
    <div><%= link_to 'オリジナルWebアプリケーション', 'http://54.199.89.104/', target:"_blank", class:"product-title" %></div>
   </li>
  </ul>
 </div>
</div>